body{
    margin:0;
    font-family: Arial, sans-serif;
    background:#F1F3F6;
}

.search-box{
    width:100%;
    padding:10px;
    border:none;
    outline:none;
    border-radius:2px;
}

.menu th{
    position:relative;
    cursor:pointer;
    font-size:16px;
    padding:12px;
}

.menu th:hover{
    color:#2874F0;
}

/* DROPDOWN */
.dropdown{
    display:none;
    position:absolute;
    top:40px;
    left:0;
    background:white;
    width:200px;
    box-shadow:0 4px 8px rgba(0,0,0,0.2);
    z-index:10;
}

.dropdown a{
    display:block;
    padding:10px;
    text-decoration:none;
    color:black;
    font-size:14px;
}

.dropdown a:hover{
    background:#F1F3F6;
}

.menu th:hover .dropdown{
    display:block;
}

/* IMAGE ZOOM */
.img-box{
    overflow:hidden;
}

.zoom-img{
    transition: transform 0.3s ease;
}

.zoom-img:hover{
    transform: scale(1.15);
}

/* PRODUCT */
.price{
    margin-top:5px;
    font-size:18px;
    font-weight:bold;
    color:green;
}

h2{
    margin-left:20px;
    font-size:32px;
}

hr{
    height:3px;
    background:black;
    border:none;
    margin:5px 20px;
}

/* FOOTER */
.footer{
    background:#2874F0;
    color:white;
    text-align:center;
    padding:15px;
    margin-top:20px;
}
