body{
    margin:0;
    font-family: Arial, sans-serif;
    background:#F1F3F6;
}

/* SEARCH */
.search-box{
    width:100%;
    padding:10px;
    border:none;
    outline:none;
}

/* MENU */
.menu th{
    padding:12px;
    font-size:16px;
    cursor:pointer;
}

.menu th:hover{
    color:#2874F0;
}

/* ITEMS VERTICAL */
.product-list{
    display:flex;
    flex-direction:column;   /* vertical items */
    align-items:flex-start;  /* left aligned */
    padding-left:20px;
}

.product{
    background:white;
    padding:10px;
    margin-bottom:15px;
}

/* IMAGE */
.img-box{
    overflow:hidden;
}

.zoom-img{
    width:250px;
    display:block;
    transition:0.3s;
}

.zoom-img:hover{
    transform:scale(1.15);
}

/* PRICE */
.price{
    margin-top:5px;
    font-size:18px;
    font-weight:bold;
    color:green;
}

/* HEADINGS */
h2{
    margin-left:20px;
    font-size:28px;
}

hr{
    height:3px;
    background:black;
    border:none;
    margin:5px 20px;
}

/* FOOTER */
.footer{
    background:#2874F0;
    color:white;
    text-align:center;
    padding:15px;
    margin-top:20px;
}




    
