body{
    margin:0;
    font-family:Arial;
    background:#F1F3F6;
}

.search-box{
    width:100%;
    padding:10px;
    border:none;
}

.menu th{
    padding:12px;
    cursor:pointer;
}

.menu th:hover{
    color:#2874F0;
}

h2{
    margin-left:20px;
}

hr{
    height:3px;
    background:black;
    border:none;
    margin:5px 20px;
}

.zoom{
    width:250px;
    height:200px;
    transition:0.3s;
}

.zoom:hover{
    transform:scale(1.1);
}

.price{
    color:green;
    font-weight:bold;
    margin-top:5px;
}

.footer{
    background:#2874F0;
    color:white;
    text-align:center;
    padding:15px;
    margin-top:20px;
}
